* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
}

#form-registration {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 150px;
    padding-bottom: 150px;
    border-radius: 15px;
    gap: 5px;
}

#form-login {
    width: 100%;
    max-width: 350px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 150px;
    padding-bottom: 150px;
    border-radius: 15px;
    gap: 5px;
    display: none;
}

input {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid gray;
}

#submitBtn {
    margin-top: 50px;
    width: 100px;
    align-self: center;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    color: black;
    cursor: pointer;
}

#submitBtnSec {
    margin-top: 50px;
    width: 100px;
    align-self: center;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    color: black;
    cursor: pointer;
}